.count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 500px;
  height: 300px;
  font-size: 30px;
}

.count button {
  font-size: 20px;
  color: red;
  background-color: rgb(164, 201, 201);
}